<section class="phx-hero">
  <h1> Welcome to Your Bot </h1>
  <p>
    <%= link "YourBot", to: Routes.url(@conn) %> is a sandbox environment for easily developing
    and deploying <%= link "Discord bot", to: "https://discord.com/developers/docs/intro" %> using
    the <%= link "Python", to: "https://www.python.org/" %> programming language and
    the briliant <%= link "Discord Py", to: "https://discordpy.readthedocs.io/en/stable/" %> library.
  </p>
  <p>
    If you want to get started, you should probably check out our <%= link "Discord Server", to: "https://discord.gg/fC9ahTpGMz" %>
  </p>
</section>
